In [1]:
import pandas as pd
import matplotlib
import seaborn as sns

In [2]:
data=pd.read_csv("/content/sample_data/kc_house_data.csv")

In [3]:
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [4]:
data.shape

(21613, 21)

In [5]:

pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [6]:
data.describe()

                    id         price  ...  sqft_living15   sqft_lot15
count      21613.00000   21613.00000  ...    21613.00000  21613.00000
mean  4580301520.86499  540088.14177  ...     1986.55249  12768.45565
std   2876565571.31205  367127.19648  ...      685.39130  27304.17963
min      1000102.00000   75000.00000  ...      399.00000    651.00000
25%   2123049194.00000  321950.00000  ...     1490.00000   5100.00000
50%   3904930410.00000  450000.00000  ...     1840.00000   7620.00000
75%   7308900445.00000  645000.00000  ...     2360.00000  10083.00000
max   9900000190.00000 7700000.00000  ...     6210.00000 871200.00000

[8 rows x 20 columns]

In [7]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
X=data[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement',
        'sqft_living15', 'sqft_lot15']]

In [11]:
X

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
0             3    1.00000  ...           1340        5650
1             3    2.25000  ...           1690        7639
2             2    1.00000  ...           2720        8062
3             4    3.00000  ...           1360        5000
4             3    2.00000  ...           1800        7503
...         ...        ...  ...            ...         ...
21608         3    2.50000  ...           1530        1509
21609         4    2.50000  ...           1830        7200
21610         2    0.75000  ...           1020        2007
21611         3    2.50000  ...           1410        1287
21612         2    0.75000  ...           1020        1357

[21613 rows x 13 columns]

In [12]:
Y=data['price']

In [13]:
Y

0       221900.00000
1       538000.00000
2       180000.00000
3       604000.00000
4       510000.00000
            ...
21608   360000.00000
21609   400000.00000
21610   402101.00000
21611   400000.00000
21612   325000.00000
Name: price, Length: 21613, dtype: float64

In [14]:

from sklearn.model_selection import train_test_split

In [15]:

X_train, X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.25,random_state=101)

In [16]:
X_train

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
19642         4    2.50000  ...           2070        4610
8626          3    2.25000  ...           1800        8140
6954          5    3.00000  ...           1370        4606
20242         4    2.50000  ...           2598        4800
10376         5    3.50000  ...           1730       11711
...         ...        ...  ...            ...         ...
5695          3    2.25000  ...           1950       10125
8006          3    1.00000  ...           1680        3600
17745         3    2.25000  ...           1510        7625
17931         2    1.00000  ...           1463        4320
13151         3    1.00000  ...           1040        7740

[16209 rows x 13 columns]

In [17]:

Y_train

19642   493000.00000
8626    425000.00000
6954    588000.00000
20242   392440.00000
10376   630000.00000
            ...
5695    625000.00000
8006    390000.00000
17745   272450.00000
17931   552000.00000
13151   394000.00000
Name: price, Length: 16209, dtype: float64

In [18]:
X_test

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
3834          2    1.00000  ...           1600        9616
1348          4    2.25000  ...           1890        8580
20366         4    2.50000  ...           1480        4300
16617         5    2.00000  ...           1860       19998
20925         3    3.00000  ...           1670        4622
...         ...        ...  ...            ...         ...
7148          3    1.75000  ...           2310        5500
2747          5    3.00000  ...           2970       10335
15565         3    2.50000  ...           2710      112820
21238         3    2.50000  ...           1608        5175
2333          3    3.00000  ...           2270       18180

[5404 rows x 13 columns]

In [19]:
Y_test

3834    349950.00000
1348    450000.00000
20366   635000.00000
16617   355500.00000
20925   246950.00000
            ...
7148    738000.00000
2747    726000.00000
15565   560000.00000
21238   299000.00000
2333    555000.00000
Name: price, Length: 5404, dtype: float64

In [20]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [21]:

X_train_std=std.fit_transform(X_train)
X_test_std=std.transform(X_test)

In [22]:
X_train_std

array([[ 0.69608634,  0.49894508, -0.00810266, ..., -0.65896096,
         0.12372791, -0.29371924],
       [-0.40802008,  0.173745  , -0.74457445, ..., -0.65896096,
        -0.27289927, -0.16524962],
       [ 1.80019275,  1.14934525,  0.12380274, ...,  0.93301185,
        -0.90456477, -0.29386481],
       ...,
       [-0.40802008,  0.173745  , -0.32687403, ..., -0.65896096,
        -0.69890623, -0.18399236],
       [-1.51212649, -1.45225542, -1.01937736, ..., -0.43153627,
        -0.76794874, -0.3042734 ],
       [-0.40802008, -1.45225542, -0.68961387, ...,  0.0233131 ,
        -1.38933131, -0.17980708]])

In [23]:
X_test_std

array([[-1.51212649, -1.45225542, -1.12929852, ..., -0.65896096,
        -0.56669717, -0.11153258],
       [ 0.69608634,  0.173745  , -0.04107901, ...,  0.79655703,
        -0.14069021, -0.14923641],
       [ 0.69608634,  0.49894508,  0.46455834, ..., -0.65896096,
        -0.74297592, -0.30500127],
       ...,
       [-0.40802008,  0.49894508,  1.49781727, ..., -0.65896096,
         1.06388121,  3.64443868],
       [-0.40802008,  0.49894508, -0.55551005, ..., -0.65896096,
        -0.55494526, -0.27315682],
       [-0.40802008,  1.14934525,  0.92622723, ...,  2.47949972,
         0.41752581,  0.20014272]])

In [26]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [27]:

lr.fit(X_train_std,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
Y_pred=lr.predict(X_test_std)

In [29]:

Y_pred

array([356776.02589275, 511927.33428643, 573736.52389151, ...,
       824101.44697874, 437013.51415353, 731915.82170728])

In [30]:
Y_test

3834    349950.00000
1348    450000.00000
20366   635000.00000
16617   355500.00000
20925   246950.00000
            ...
7148    738000.00000
2747    726000.00000
15565   560000.00000
21238   299000.00000
2333    555000.00000
Name: price, Length: 5404, dtype: float64

In [31]:

from sklearn.metrics import mean_absolute_error,r2_score

In [32]:

mean_absolute_error(Y_test,Y_pred)

151500.53601090197

In [33]:
X_test

       bedrooms  bathrooms  ...  sqft_living15  sqft_lot15
3834          2    1.00000  ...           1600        9616
1348          4    2.25000  ...           1890        8580
20366         4    2.50000  ...           1480        4300
16617         5    2.00000  ...           1860       19998
20925         3    3.00000  ...           1670        4622
...         ...        ...  ...            ...         ...
7148          3    1.75000  ...           2310        5500
2747          5    3.00000  ...           2970       10335
15565         3    2.50000  ...           2710      112820
21238         3    2.50000  ...           1608        5175
2333          3    3.00000  ...           2270       18180

[5404 rows x 13 columns]

In [41]:
X_test.loc[2333]

bedrooms            3.00000
bathrooms           3.00000
sqft_living      2920.00000
sqft_lot        23085.00000
floors              1.50000
waterfront          0.00000
view                2.00000
condition           3.00000
grade               7.00000
sqft_above       1540.00000
sqft_basement    1380.00000
sqft_living15    2270.00000
sqft_lot15      18180.00000
Name: 2333, dtype: float64

In [42]:
Y_test.loc[2333]

555000.0

In [35]:

r2_score(Y_test,Y_pred)

0.6211653492243892

In [43]:
new_house=[[3,3,2920,23085,1,0,2,3,7,1540,1380,2270,18180]]

In [44]:
new_house_std=std.transform(new_house)

In [45]:
new_house_std

array([[-0.40802008,  1.14934525,  0.92622723,  0.18747471, -0.91886978,
        -0.08921717,  2.27710524, -0.62682707, -0.55954731, -0.30112111,
         2.47949972,  0.41752581,  0.20014272]])

In [46]:

int(lr.predict(new_house_std))

731397